// ABOUT US
#boutUsSect1{
    height: 100vh;
    width: 100%;
    background-image: url(../../public/img/img5.jpg);
    background-size: cover;
    background-position: center -10px ;
    background-attachment: fixed;
    img{
      height: 100%;
      width: 100%;
    }
  }
  
  
  #boutUsSect2{
  
    padding: 10% 0;
  
    background-color: whitesmoke;
  
    .col-4{
      justify-content: center;
      text-align: center;
      i{
        font-size: 5rem;
        margin-bottom: 5rem ;
      }
      h2{
        padding-bottom: 5rem;
      }
      p{
        line-height: 200%;
      }
  
  
    }
  }