// .navbar{
//   background-color: black !important;
// }

#lightButton{
  background-color: white;
}
#navbar-designer{
  background-color: black !important;

    #navList{
        background-color: black !important;
        ul {
            list-style-type: none;
          }
          li {
            margin: 0 20px;
            color: #584E4A;
            position: relative;
            text-decoration: none;
          }
          li:before, li:after {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #ffffff !important;
          }
          li:before {
            opacity: 0;
            transform: translateY(-8px);
            transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
          }
          li:after {
            opacity: 0;
            transform: translateY(4px);
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
          }
          li:hover:before, li:hover:after, li:focus:before, li:focus:after {
            opacity: 1;
            transform: translateY(0);
          }
          li:hover:before, li:focus:before {
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
          }
          li:hover:after, li:focus:after {
            transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
          } 
          
        }
        .navbar-nav{
            a{
                color: white !important;
            }

        }
        .dropdown-menu.show{
            border: none !important;
            background-color: #ffffff;
            color: black;
            padding: 0;
            border-radius: 0;
            a{
              color: rgb(0, 0, 0) !important;
              padding: 0.8rem 1rem;
              transition: all 0.2s linear;
              &:hover{
                background-color: rgb(0, 0, 0) !important;
                color: rgb(255, 255, 255) !important; 
              }
            }
          }

    }



    // TYPE WRITE
.type-writer{
  margin-top: 5rem;
  width: fit-content;
  // width: 50%;

  // display: flex;
  // justify-content: center;
  margin: auto;
  margin-top: 5rem;

  h1{
    color:white;
    // margin: auto;

    overflow: hidden;
    white-space: nowrap; /* Keeps the content on a single line */

    border-right: 0.15rem solid white;
    margin: 0 auto;
    animation: 
    typing 3.5s steps(40, end),
    blink .75s step-end infinite;

  }
}

@keyframes typing{
  from{width: 0;}
  to {width: 100%;}
}

@keyframes blink{
  from, to { border-color: transparent }
  50% { border-color:white; }
}


#gImg1{
  background-image: url('../../../public/img/imgGal1.jpg');
}

#gImg2{
  background-image: url('../../../public/img/imgGal11.jpg');
}
#gImg3{
  background-image: url('../../../public/img/imgGal3.jpg');
}
#gImg4{
  background-image: url('../../../public/img/imgGal4.jpg');
}
#gImg5{
  background-image: url('../../../public/img/imgGal5.jpg');
}
#gImg6{
  background-image: url('../../../public/img/imgGal10.jpg');
}
#gImg7{
  background-image: url('../../../public/img/imgGal7.jpg');
  background-position: bottom;
}
#gImg8{
  background-image: url('../../../public/img/imgGal8.jpg');
  background-position: center;
}
#gImg9{
  background-image: url('../../../public/img/imgGal9.jpg');
}

.gImg{
  background-size: cover;
  background-position: center;

}





#SectImgDesign{
  margin-top: 5rem;
  background-color: black;
  p{
    font-size: 2rem;
  }
  a{
    color: black;
  }
  div{
    margin: 0.2rem;
    height: 400px;
    width: 400px;
  }
  .gImg{
    // background: none;
    overflow: hidden;
  }
  // .gImg:hover{

  // }

  .textImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    background-color: white;
    margin: 0;
    padding: 0;
    transition: all .2s;
    transform: translateY(10px) ;
  }
  .revealText{
    opacity: 1;
    transform:translateY(0) ;





  }
 
}







    
